* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: Allan-regular;
    src: url('Allan-Regular.ttf');
}
@font-face {
    font-family: Allan-bold;
    src: url('Allan-Bold.ttf');
}
.menu{
    background-color:#4F2B2B;
    color: #4F2B2B;
    display:flex;
    flex-direction: row;
    font-family: Allan-regular;
    font-size: 23px;
    justify-content: space-between;
    padding: 10px 0 15.5px 0;
    position: fixed;
    width: 100%;
}
.menu a {
    color:#f4ebdb;
    text-decoration: none;
    padding: 0 20px; 
}

.menuLeft {
    display: flex;
    flex-direction: row;
}

.headerDiv a:active {
    color:#A13D37;
}
.headerDiv a:hover{
    color:#A13D37;
}

.headerDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.headerJoon {
    
    height: 3px;
    background-color: #A13D37;
    margin-left: 17px;
    margin-right: 17px;
}

.menu a.avaleht_link{
    color:#A13D37;
}
.avaleht{
    position:relative;
    top: 50px;
    width: 100%;
}

.full-width-image{
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    
}
.avaleht::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index:1;
}
.text{
    position:absolute;
    top: 25%;
    left: 50%;
    font-family: Allan-bold;
    transform: translate(-55%, -55%);
    justify-content: center;
    text-align: center;
    color:#f4ebdb;
    font-size: 45px;
    z-index: 2;
    animation-duration: 1.1s;
    animation-name: slideintext;
}
.kontakt_link{
    margin-left: auto;

}
.sub_text{
    position: absolute;
    top: 58%;
    left: 50%;
    font-family: Allan-Regular;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align:center;
    color:#f4ebdb;
    font-size: 20px;
    z-index: 2;
    animation-duration: 1.5s;
    animation-name: slideintext;

}

@keyframes slideintext{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0%;
    }
}

