* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    overflow: hidden;
}
body{
    background-color:black;
}
@font-face {
    font-family: Allan-regular;
    src: url('Allan-Regular.ttf');
}
@font-face {
    font-family: Allan-bold;
    src: url('Allan-Bold.ttf');
}

.kontakt {
    display: flex;
    flex-direction: row;
}

.parem {
    padding-top: 12%;
    padding-left: 5%;

}

.text{
    font-family: Allan-bold;
    color:#f0f0ef;
    font-size: 45px;
    z-index: 1;
    animation-duration: 1s;
    animation-name: slide-left_text;
}
.kontakt_pilt{
    top:0;
    left: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover; 
    object-position: right; 
    display: block; 
    
}
.alamtext{
    margin: 8% 0;
    font-family: Allan-regular;
    font-size: 23px;
    z-index: 1; 
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.alamtext.first {
    margin-top: 4rem;
}

.menu a.kontakt_link{
    color:#A13D37;
}

.alamtext a {
    margin-left: 1rem;
    color: #A13D37;
    text-decoration: none; 
    animation-duration: 1s;
    animation-name: slide-left_text;
}
.alamtext p{
    color: white;
    animation-duration: 1s;
    animation-name: slide-left_text;
}
.alamtext img {
    animation-duration: 1s;
    animation-name: slidein_icons;
}
.alamtext a:hover {
    text-decoration: underline;
}
@keyframes slidein_icons{
    from{
        margin-left: 100%;
        overflow: hidden;
    }
    to{
        margin-left: 0%;
    }
}
@keyframes slide-left_text {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.icon_mail {
    height: 50px;
    aspect-ratio: "1:1";
}

.icon_facebook {
    height: 50px;
    aspect-ratio: "1:1";
}

.icon_insta {
    height: 50px;
    aspect-ratio: "1:1";
}
