body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;
}

.liige {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex
}

.pilt {
    height: auto;
    text-align:right;
    flex:10%
}

.kirjeldus {
    margin-left: 30px;
    flex: 70%;
    padding-right: 20%
}

.esimene {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom:70px;
    margin-top: 30px
}

h1 {
    text-align: center;
}

.vahe {
    height: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.menüü {
    background-color: #444;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    
}

.menüülink, .mittelink {
    width: max-content;
    text-decoration: underline;
    text-decoration-color: red;
}

.mittelink {
    color: red
}

.tühik {
    width: 20px
}

.suurtühik {
    width:60%
}